<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.dao.ITreeDao">

    <select id="queryTreeAll" resultType="com.jk.pojo.Tree">
        select * from drug_tree where pid = #{pid}
    </select>

    <select id="queryDrugById" resultType="com.jk.pojo.ShoppingCart">
      SELECT dr.drug_id drugId,dr.drug_name drugName,dr.drug_img drugImg,
      dr.drug_commercial_specifications drugSize,dr.drug_manufacturer drugManufacturer,
      dr.drug_price drugMoney
      FROM drug_drug  dr where dr.drug_id = #{drugId}
    </select>


</mapper>