<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.dao.ReturnDao">

    <insert id="SaveReturn" parameterType="com.jk.pojo.ReturnSlip">
        insert into drug_returns_management(
        Image_path,return_goods,return_time,reutrn_count,supplier,return_money,
        return_state) values(#{imgPath},#{returnGoods},#{returnTime},#{returnCount},#{supplier},
        #{returnMoney},#{returnState}
        )
    </insert>
</mapper>