<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.dao.SettlementDao">
    <!--条查公共sql-->
    <sql id="search">
        <if test="settlement.orderId!=null and settlement.orderId!=''">
            and settlement.order_id = #{settlement.orderId}
        </if>

        <if test="settlement.productName!=null and settlement.productName!=''">
            and salesorde.product_name like '%${settlement.productName}%'
        </if>

        <if test="settlement.productPurchaser!=null and settlement.productPurchaser!=''">
            and salesorde.product_purchaser like '%${settlement.productPurchaser}%'
        </if>

        <if test="settlement.settlementStatus!=null and settlement.settlementStatus!=''">

            <if test="settlement.settlementStatus==5">
                and settlement.settlement_status in(1,2)
            </if>

            <if test="settlement.settlementStatus==6">
                and settlement.settlement_status in(3,4)
            </if>

            <if test="settlement.settlementStatus!=5 and settlement.settlementStatus!=6">
                and settlement.settlement_status = #{settlement.settlementStatus}
            </if>

        </if>
    </sql>

        <!--根据时间统计-->
    <sql id="timeCondition">
        <if test="selectCountStatus==0">
            <!--本月-->
            SELECT count(*) orderCount,product_orderTime orderDate FROM drug_salesorde  WHERE DATE_FORMAT(product_orderTime, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' ) group by product_orderTime
        </if>
        <if test="selectCountStatus==7">
            <!--7天-->
            SELECT count(*) orderCount,product_orderTime orderDate FROM drug_salesorde  where DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= date( product_orderTime) group by product_orderTime
        </if>
        <if test="selectCountStatus==30">
            <!-- 近30天-->
            SELECT count(*) orderCount,product_orderTime orderDate FROM drug_salesorde  where DATE_SUB(CURDATE(), INTERVAL 30 DAY) &lt;= date(product_orderTime) group by product_orderTime
        </if>
        <if test="selectCountStatus==-1 and startDate!=null and endDate!=null">
            SELECT count(*) orderCount,product_orderTime orderDate FROM drug_salesorde  where product_orderTime between #{startDate} and  #{endDate} group by product_orderTime
        </if>
        <if test="selectCountStatus==-1 and endDate!=null and startDate==null">
            SELECT count(*) orderCount,product_orderTime orderDate FROM drug_salesorde  where product_orderTime &lt; #{endDate} group by product_orderTime
        </if>
        <if test="selectCountStatus==-1 and endDate==null and startDate!=null">
            SELECT count(*) orderCount,product_orderTime orderDate FROM drug_salesorde  where product_orderTime &gt; #{startDate} group by product_orderTime
        </if>
    </sql>
        <!--调用公共sql查询下单量-->
    <select id="queryOrderCount" resultType="com.jk.pojo.OrderCount">
        <include refid="timeCondition"></include>
    </select>


      <!--已完成的 成交量 order_status=1是已完成状态-->
    <sql id="successTimeCondition">
        <if test="selectCountStatus==0">
            <!--本月-->
            SELECT count(*) successCount,product_orderTime orderDate FROM drug_salesorde  WHERE DATE_FORMAT(  product_orderTime, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' ) and order_status=1 group by product_orderTime
        </if>
        <if test="selectCountStatus==7">
            <!--7天-->
            SELECT count(*) successCount,product_orderTime orderDate FROM drug_salesorde  where DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= date( product_orderTime) and order_status=1 group by product_orderTime
        </if>
        <if test="selectCountStatus==30">
            <!-- 近30天-->
            SELECT count(*) successCount,product_orderTime orderDate FROM drug_salesorde  where DATE_SUB(CURDATE(), INTERVAL 30 DAY) &lt;= date(product_orderTime) and order_status=1 group by product_orderTime
        </if>
        <if test="selectCountStatus==-1 and startDate!=null and endDate!=null">
            SELECT count(*) successCount,product_orderTime orderDate FROM drug_salesorde  where product_orderTime between #{startDate} and  #{endDate} and order_status=1 group by product_orderTime
        </if>
        <if test="selectCountStatus==-1 and endDate!=null and startDate==null">
            SELECT count(*) successCount,product_orderTime orderDate FROM drug_salesorde  where product_orderTime &lt; #{endDate} and order_status=1 group by product_orderTime
        </if>
        <if test="selectCountStatus==-1 and endDate==null and startDate!=null">
            SELECT count(*) successCount,product_orderTime orderDate FROM drug_salesorde  where product_orderTime &gt; #{startDate} and order_status=1 group by product_orderTime
        </if>
    </sql>
    <!--调用公共sql 查询成交量-->
    <select id="querySuccessCount" resultType="com.jk.pojo.OrderCount">
        <include refid="successTimeCondition" ></include>
    </select>


    <!--测试框架-->
    <select id="test" resultType="com.jk.pojo.Test">
    SELECT supplier_id supplierId,supplier_name supplierName FROM drug_supplier
</select>
    <!-- 绑卡设置 添加银行卡-->
    <insert id="saveBankCard" parameterType="com.jk.pojo.BankCard">
    insert into drug_bank_card(bank_name,bank_card_number,payment_password,cardholder_name,phone_number)
            values(#{bankName},#{bankCardNumber},#{paymentPassword},#{cardholderName},#{phoneNumber})
</insert>

        <!-- 查询总条数 -->
        <select id="findSettlementCount"  resultType="int">
            select count(1)   from drug_salesorde salesorde , drug_settlement settlement
            where settlement.order_id=salesorde.order_id
            <include refid="search"></include>
        </select>

    <!--查询结算申请和结算记录-->
    <select id="querySettlement" resultType="com.jk.pojo.Settlement">
    select
        settlement.settlement_id	  settlementId,
        settlement.order_id           orderId,
        salesorde.product_name  	  productName,
        salesorde.product_purchaser   productPurchaser,
        salesorde.product_quantity	  productQuantity,
        salesorde.actual_receipts	        actualReceipts,
        salesorde.settlement_promotion      settlementPromotion,
        salesorde.commodity_specification 	commoditySpecification,
        salesorde.settlement_commission	    settlementcommission,
        salesorde.settlement_amount	        settlementAmount,
        salesorde.product_single_price		productSinglePrice,
        settlement.settlement_status 		settlementStatus,
        settlement.application_date			applicationDate,
        settlement.settlement_date			settlementDate
    from drug_salesorde salesorde , drug_settlement settlement
    where settlement.order_id=salesorde.order_id
<include refid="search"></include>
        limit #{start},#{rows}
    </select>
    <!--申请结算 将可结算状态改为出账中状态-->
    <update id="applyettlement" parameterType="int">
     update drug_settlement set settlement_status = 3 ,application_date=now() where settlement_id=#{id}
    </update>
   <!-- 查询所有待结算金额-->
    <select id="querysettlementMoney" resultType="Long">
  select sum(actual_receipts)
  from drug_salesorde salesorde , drug_settlement settlement
  where settlement.order_id=salesorde.order_id and settlement.settlement_status=1
    </select>
    <!--查询所有可体现金额-->
    <select id="querycashMoney" resultType="Long">
 select sum(actual_receipts)
  from drug_salesorde salesorde , drug_settlement settlement
  where settlement.order_id=salesorde.order_id and settlement.settlement_status=2
    </select>

  <!--  查询累计提现总金额-->
    <select id="querycashTotalMoney"  resultType="Long">
     select sum(actual_receipts)
    from drug_salesorde salesorde , drug_settlement settlement
    where settlement.order_id=salesorde.order_id and settlement.settlement_status in (3,4)
    </select>

    <!--查询招商信息和代理信息时的条件-->
    <sql id="searchMerchants">
           /* 根据地区查询*/
        <if test="agencyAndMerchants.districtId!=null and agencyAndMerchants.districtId!=''">

            and (merchants.merchants_district_id in(
            SELECT d4.id FROM drug_rc_district d1, drug_rc_district d2, drug_rc_district d3, drug_rc_district d4
            where d4.pid=d3.id and d3.pid=d2.id  and d2.id=#{agencyAndMerchants.districtId} GROUP BY d4.id)
            or	merchants.merchants_district_id in(
            SELECT d3.id FROM drug_rc_district d1, drug_rc_district d2, drug_rc_district d3, drug_rc_district d4
            where d4.pid=d3.id and d3.pid=d2.id and d2.pid=d1.pid  and d2.id=#{agencyAndMerchants.districtId} GROUP BY d3.id)
            or	merchants.merchants_district_id in(
            SELECT d2.id FROM drug_rc_district d1, drug_rc_district d2, drug_rc_district d3, drug_rc_district d4
            where d4.pid=d3.id and d3.pid=d2.id and d2.pid=d1.pid  and d2.id=#{agencyAndMerchants.districtId} GROUP BY d2.id
            ))
        </if>
          /*根据产品名称查询*/
        <if test="agencyAndMerchants.productName!=null and agencyAndMerchants.productName!=''">
            and merchants.merchants_product_name like '%${agencyAndMerchants.productName}%'
        </if>
          /*根据分类查询*/
        <if test="agencyAndMerchants.classify!=null and agencyAndMerchants.classify!=''">
            and merchants.merchants_classify in
            (select drug_type_id from drug_type where drug_type_id=#{agencyAndMerchants.classify}
            or drug_type_pid=#{agencyAndMerchants.classify} or
            drug_type_pid in( select drug_type_id from drug_type where  drug_type_pid=
            #{agencyAndMerchants.classify}))
        </if>
          /*根据子分类查询*/
        <if test="agencyAndMerchants.classifySon!=null and agencyAndMerchants.classifySon!=''">
            and merchants.merchants_classify in
            (select drug_type_id from drug_type where drug_type_id=#{agencyAndMerchants.classifySon}
            or drug_type_pid=#{agencyAndMerchants.classifySon} or
            drug_type_pid in( select drug_type_id from drug_type where  drug_type_pid=
            #{agencyAndMerchants.classifySon}))
        </if>
          /*根据孙分类查询*/
        <if test="agencyAndMerchants.classifyGrandSon!=null and agencyAndMerchants.classifyGrandSon!=''">
            and merchants.merchants_classify in
            (select drug_type_id from drug_type where drug_type_id=#{agencyAndMerchants.classifyGrandSon}
            or drug_type_pid=#{agencyAndMerchants.classifyGrandSon} or
            drug_type_pid in( select drug_type_id from drug_type where  drug_type_pid=
            #{agencyAndMerchants.classifyGrandSon}))
        </if>
    </sql>

    <sql id="orderBy">
        <if test="agencyAndMerchants.dateSort!=null and agencyAndMerchants.dateSort!=''">
            <if test="agencyAndMerchants.dateSort==1">
                order by releaseDate
            </if>
            <if test="agencyAndMerchants.dateSort==2">
                order by releaseDate desc
            </if>
        </if>
    </sql>
        <!--查询满足条件的招商信息的个数-->
    <select id="findMerchantsCount" resultType="int">
        select count(1)          from merchants_information merchants,drug_rc_district district,drug_rc_district district2,drug_rc_district district3
        where merchants.merchants_district_id = district3.id
        and district3.pid=district2.id and district2.pid=district.id
        <include refid="searchMerchants"></include>
    </select>
    <!--查询满足条件的招商信息-->
    <select id="queryMerchants" resultType="com.jk.pojo.AgencyAndMerchants">
    select
        merchants.merchants_id id,
        merchants.merchants_encoding encoding,
        merchants.merchants_product_name  productName,
        merchants.merchants_specification specification,
        merchants.merchants_manufacturer manufacturer,
        district.district districtProvinceName, /*省名称*/
        district2.district districtCityName,    /*市名称*/
        district3.district districtName,        /*区名称*/
        merchants.release_date  releaseDate    /*发布日期*/
        from merchants_information merchants,drug_rc_district district,drug_rc_district district2,drug_rc_district district3
        where merchants.merchants_district_id = district3.id
        and district3.pid=district2.id and district2.pid=district.id
        <include refid="searchMerchants"></include>
        <include refid="orderBy"></include>
        limit #{start},#{rows}
    </select>

   <!-- 查询省区域-->
    <select id="queryProvince" resultType="com.jk.pojo.District">
        SELECT * FROM drug_rc_district d where d.pid=1
    </select>

   <!-- 查询一级分类-->
    <select id="queryOneType" resultType="com.jk.pojo.Type">
        SELECT drug_type_id id,drug_type_name name,drug_type_pid pid FROM drug_type where drug_type_pid =0
    </select>
    <!--根据父id查询二级和三级分类-->
    <select id="queryType" parameterType="int" resultType="com.jk.pojo.Type">
        select drug_type_id id,drug_type_name name,drug_type_pid pid FROM  drug_type where drug_type_pid =#{pid}
    </select>

    <!--查询招商信息和代理信息时的条件-->
    <sql id="searchAgency">
        /* 根据地区查询*/
        <if test="agencyAndMerchants.districtId!=null and agencyAndMerchants.districtId!=''">
            and (agency.agency_district_id in(
            SELECT d4.id FROM drug_rc_district d1, drug_rc_district d2, drug_rc_district d3, drug_rc_district d4
            where d4.pid=d3.id and d3.pid=d2.id  and d2.id=#{agencyAndMerchants.districtId} GROUP BY d4.id)
            or	agency.agency_district_id in(
            SELECT d3.id FROM drug_rc_district d1, drug_rc_district d2, drug_rc_district d3, drug_rc_district d4
            where d4.pid=d3.id and d3.pid=d2.id and d2.pid=d1.pid  and d2.id=#{agencyAndMerchants.districtId} GROUP BY d3.id)
            or	agency.agency_district_id in(
            SELECT d2.id FROM drug_rc_district d1, drug_rc_district d2, drug_rc_district d3, drug_rc_district d4
            where d4.pid=d3.id and d3.pid=d2.id and d2.pid=d1.pid  and d2.id=#{agencyAndMerchants.districtId} GROUP BY d2.id
            ))
        </if>
        /*根据产品名称查询*/
        <if test="agencyAndMerchants.productName!=null and agencyAndMerchants.productName!=''">
            and agency.agency_product_name like '%${agencyAndMerchants.productName}%'
        </if>
        /*根据分类查询*/
        <if test="agencyAndMerchants.classify!=null and agencyAndMerchants.classify!=''">
            and agency.agency_classify in
            (select drug_type_id from drug_type where drug_type_id=#{agencyAndMerchants.classify}
            or drug_type_pid=#{agencyAndMerchants.classify} or
            drug_type_pid in( select drug_type_id from drug_type where  drug_type_pid=
            #{agencyAndMerchants.classify}))
        </if>
        /*根据二级分类查询*/
        <if test="agencyAndMerchants.classifySon!=null and agencyAndMerchants.classifySon!=''">
            and agency.agency_classify in
            (select drug_type_id from drug_type where drug_type_id=#{agencyAndMerchants.classifySon}
            or drug_type_pid=#{agencyAndMerchants.classifySon} or
            drug_type_pid in( select drug_type_id from drug_type where  drug_type_pid=
            #{agencyAndMerchants.classifySon}))
        </if>
        /*根据三级分类查询*/
        <if test="agencyAndMerchants.classifyGrandSon!=null and agencyAndMerchants.classifyGrandSon!=''">
            and agency.agency_classify in
            (select drug_type_id from drug_type where drug_type_id=#{agencyAndMerchants.classifyGrandSon}
            or drug_type_pid=#{agencyAndMerchants.classifyGrandSon} or
            drug_type_pid in( select drug_type_id from drug_type where  drug_type_pid=
            #{agencyAndMerchants.classifyGrandSon}))
        </if>
    </sql>
    <!--查询满足条件的代理信息的个数-->
    <select id="findAgencyCount" resultType="int">
        select count(1)          from agency_information agency,drug_rc_district district,drug_rc_district district2,drug_rc_district district3
        where agency.agency_district_id = district3.id
        and district3.pid=district2.id and district2.pid=district.id
        <include refid="searchAgency"></include>
    </select>
    <!--查询满足条件的代理信息-->
    <select id="queryAgency" resultType="com.jk.pojo.AgencyAndMerchants">
        select
        agency.agency_id id,
        agency.agency_encoding encoding,
        agency.agency_product_name  productName,
        agency.agency_specification specification,
        agency.agency_manufacturer manufacturer,
        district.district districtProvinceName, /*省名称*/
        district2.district districtCityName,    /*市名称*/
        district3.district districtName,        /*区名称*/
        agency.release_date  releaseDate    /*发布日期*/
        from agency_information agency,drug_rc_district district,drug_rc_district district2,drug_rc_district district3
        where agency.agency_district_id = district3.id
        and district3.pid=district2.id and district2.pid=district.id
        <include refid="searchAgency"></include>
        <include refid="orderBy"></include>
        limit #{start},#{rows}
    </select>

    <!--查询供应信息时的条件-->
    <sql id="searchSupply">
        /*根据产品名称查询*/
        <if test="purchaseAndSupply.productName!=null and purchaseAndSupply.productName!=''">
            and supply.supply_product_name like '%${purchaseAndSupply.productName}%'
        </if>
        /*根据分类查询*/
        <if test="purchaseAndSupply.classify!=null and purchaseAndSupply.classify!=''">
            and supply.supply_classify in
            (select drug_type_id from drug_type where drug_type_id=#{purchaseAndSupply.classify}
            or drug_type_pid=#{purchaseAndSupply.classify} or
            drug_type_pid in( select drug_type_id from drug_type where  drug_type_pid=
            #{purchaseAndSupply.classify}))
        </if>
    </sql>

    <sql id="orderByQuantity">
        <if test="purchaseAndSupply.dateSort!=null and purchaseAndSupply.dateSort!=''">
            <if test="purchaseAndSupply.dateSort==1">
                order by quantity desc
            </if>
            <if test="purchaseAndSupply.dateSort==2">
                order by releaseDate desc
            </if>
        </if>
    </sql>

    <!--查询满足条件的供应信息的个数-->
        <select id="findSupplyCount" resultType="int">
            select count(1)   from supply_information supply   where 1=1
            <include refid="searchSupply"></include>
        </select>
    <!--查询满足条件的供应信息-->
    <select id="querySupply" resultType="com.jk.pojo.PurchaseAndSupply">
        select
        supply.supply_id id,
        supply.supply_product_name productName,
        supply.supply_specification specification,
        supply.supply_contact_number contactNumber,
        supply.supply_contacts contacts,
        supply.supply_quantity quantity,
        supply.supply_classify classify,
        dtype.drug_type_name classifyName,
        supply.release_date releaseDate
        from  supply_information supply
        left join drug_type dtype on supply.supply_classify=dtype.drug_type_id
          where 1=1
        <include refid="searchSupply"></include>
        <include refid="orderByQuantity"></include>
        limit #{start},#{rows}
    </select>

    <!--查询求购信息时的条件-->
    <sql id="searchPurchase">
        /*根据产品名称查询*/
        <if test="purchaseAndSupply.productName!=null and purchaseAndSupply.productName!=''">
            and purchase.purchase_product_name like '%${purchaseAndSupply.productName}%'
        </if>
        /*根据分类查询*/
        <if test="purchaseAndSupply.classify!=null and purchaseAndSupply.classify!=''">
            and purchase.purchase_classify in
            (select drug_type_id from drug_type where drug_type_id=#{purchaseAndSupply.classify}
            or drug_type_pid=#{purchaseAndSupply.classify} or
            drug_type_pid in( select drug_type_id from drug_type where  drug_type_pid=
            #{purchaseAndSupply.classify}))
        </if>
    </sql>
    <!--查询满足条件的求购信息的个数-->
    <select id="findPurchaseCount" resultType="int">
        select count(1)   from purchase_information purchase   where 1=1
        <include refid="searchPurchase"></include>
    </select>
    <!--查询满足条件的求购信息-->
    <select id="queryPurchase" resultType="com.jk.pojo.PurchaseAndSupply">
   select
        purchase.purchase_id id,
        purchase.purchase_product_name productName,
        purchase.purchase_specification specification,
        purchase.purchase_manufacturer manufacturer,
        purchase.purchase_contacts contacts,
        purchase.purchase_quantity quantity,
        purchase.purchase_classify classify,
        dtype.drug_type_name classifyName,
        purchase.release_date releaseDate
        from purchase_information purchase
        left join drug_type dtype on purchase.purchase_classify=dtype.drug_type_id
         where 1=1
        <include refid="searchPurchase"></include>
        <include refid="orderByQuantity"></include>
        limit #{start},#{rows}
    </select>

</mapper>